{% extends "AppPFEtrade/padre.html" %}

{% load static %}



{% block titulo %} 
<h1> About me!</h1>
<br><br><br>
<p> Hola mi nombre es Ignacio Benitez Ferro y he decidio crear un entorno de compra / venta de posiciones de mercado. <br>
    Acutalmente trabajo en una empresa de asesorias financieras y he decidio plasmar mis conocimientos aquí, me hubiese gustado
    refinar aún más el trabajo, sin embargo el tiempo no me permite darme el lujo. 
    
    <br><br>
    <b><br>Espero que les guste mi sito web! Cariños.</p></b>


  

    
{% endblock %}